<!DOCTYPE html>
<html>
  <head>
    <title>OSE Corporation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/OSELogo.png"/>
  </head>
  <body>
    <div class="row">
      <img 
        src="/images/transparentlogo.png"
        class="shrink">
        <div>
          <h1 class="no-margins">OSE Corporation</h1>
          <p>Welcome to the OSE Corporation! Our modo here is Observe, Study, and Enhance!</p>
        </div>
    </div>
    <div class="col grey-background side-bar">
      <a href="/ose-database">ose-database</a>
      <a href="/employee-database">employees</a>
    </div>
  </body>
</html>
