    <div class="min-h-[64px] bg-slate-700 p-4 text-white flex flex-col justify-center">
        <h1>The OSE Database</h1>
        <p>Number of OSE's documented: <%= ose_count %></p>
    </div>
    <ul>
        <% all_ose.forEach(function(ose) { %>
            <li>
                <div class="min-h-[64px] bg-slate-700 p-4 text-white flex flex-col justify-center">
                    <p><%= "OSE-" + ose.anonomoly_id_number %></p>
                    <p><%= "Author: Dr. " + ose.author.first_name + " " + ose.author.family_name %></p>
                </div>
            </li>
        <% }); %>
    </ul>